@model IEnumerable<MusicDating.Models.Entities.Instrument>

@using Microsoft.AspNetCore.Identity
@using MusicDating.Models.Entities;


@{
    ViewData["Title"] = "Hej";
}
<a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">View Data</a>
@foreach (var item in Model) {
 <div>
     <p>@item.Name</p>
 </div>
}